{% extends 'base.html' %}
{% block content %}
<div class="absolute inset-y-0 inset-x-0 left-72">
    <div class="flex flex-row gap-x-36 mt-14">
    <div class="w-1/2">
    <h2 class="font-bold text-l mb-4 text-center mx-auto">Поставки в магазин</h2>
    <table class="w-full text-sm text-center text-left rtl:text-right text-black-500 dark:text-black-400">
        <thead class="text-xs text-black-700 text-center uppercase bg-gray-50 dark:bg-black-700 dark:text-black-400">
            <tr>
                <th scope="col" class="px-2 py-2">
                    Номер
                </th>
                <th scope="col" class="px-2 py-2">
                    Название
                </th>
                <th scope="col" class="px-2 py-2">
                    Дата создания
                </th>
                <th scope="col" class="px-6 py-3">
                    Дата поставки
                </th>
                <th scope="col" class="px-2 py-2">
                    Проверка
                </th>
                <th scope="col" class="px-2 py-2">
                    Статус
                </th>
                <th scope="col" class="px-2 py-2">
                    Редактировать Поставку
                </th>
            </tr>
        </thead>
        <tbody>
            {% for supply in supplies %}
            <tr class="bg-Black border-b dark:bg-white-800 dark:border-blue-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-black">
                    {{ supply.supply_id}}
                </th>
                <td class="px-2 py-2 font-medium text-blue-600 dark:text-blue-500 hover:underline">
                    <a href="{% url 'supply:supply-detail' pk=supply.supply_id %}">{{supply.supply_name}}</a>
                </td>
                <td class="px-2 py-2">
                    {{ supply.supply_creation_date}}
                </td>
                <td class="px-2 py-2">
                    {{ supply.supply_delivery_date }}
                </td>
                <td class="px-2 py-2">
                    {{ supply.supply_checked_str}}
                </td>
                {% if supply.supply_accepted == True  %}
                <td class="px-2 py-2 bg bg-green-300">
                    {{supply.supply_accepted_str}}
                </td>
                {% else %}
                <td class="px-2 py-2 bg bg-yellow-300">
                    {{supply.supply_accepted_str}}
                {% endif %}
                </td>
                {% if supply.supply_accepted != True or supply.supply_checked != True %}
                <td class="px-2 py-2">
                    <a href="{% url 'supply:supply-fill' pk=supply.supply_id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Редактировать</a>
                </td>
                {% endif %}
                {% if supply.supply_accepted != True %}
                <td class="px-2 py-2">
                    <form action="{% url 'supply:supply-delete' pk=supply.supply_id %}" method="post">
                        {% csrf_token %}
                    <button type="submit" class="font-medium text-blue-600 dark:text-red-500 hover:underline">Удалить</button>
                </form>
                </td>
                {% endif %}
                {% endfor %}
            </tbody>
            </table>
            <div class="flex flex-col items-center mt-4">
                <!-- Help text -->
                <span class="text-sm text-gray-500">
                 <span class="font-medium text-black">{{ supplies.number }}</span> из <span class="font-semibold text-black">{{supplies.paginator.num_pages}}</span>
                </span>
                <!-- Buttons -->
                <div class="inline-flex mt-2 xs:mt-0">
                  {% if supplies.has_previous %}
                    <button class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <a href="?page={{ supplies.previous_page_number }}">предыдущая</a>
                    </button>
                    {% endif %}
              
                    {% if supplies.has_next %}
                    <button  class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <a href="?page={{ supplies.next_page_number }}">следующая</a>
                    </button>
                    {% endif %}
                </div>
              </div>
</div>
<div class="w-1/2">
    <h2 class="font-bold text-l mb-4 text-center mx-auto">Новая поставка</h2>
    <form method="post">
        {% csrf_token %}
        <div class="font-medium border rounded">
        {{form.supply_name}}
        {{form.supply_delivery_date}}
        </div>
        <button type="submit" class="mt-6 text-white bg-green-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center h-12 w-48">Создать поставку</button>
     </form>
</div>
</div>
    </div>
{% endblock  %}